body {
				background-color: #111;
				margin: 0px;
				overflow: hidden;
    font-family: monospace
			}

			a {
				color:#0078ff;
			}
            

#info {
     position:absolute;
        z-index:20;
    top: 20px;
    right: 20px;
    color: #fff;
    opacity: .7;
    text-align:right;
    font-size: 14px;
}

#container {
    position:relative;
    z-index:10;
}